.vscode/
**/.venv/
vbCableDriverPack45/
vbCableDriverPack45.zip

tracks/*.mp3
tracks/**/*.flac
tracks/*.jpg
tracks/**/*.ogg
tracks/

misc-scripts/

**/__pycache__

**/ref/**/*.mp3
# **/ref/**/.png
**/ref/**/*.flac
**/dataset/*